<div class="row" style="margin: 0;">
  <div class="br-card-id-1 br-card-id-1-border" ng-style="$ctrl.cardStyle">
    <div class="br-credential-card-header" align="center">
      <span ng-if="$ctrl.credentialType==='br:test:WotCredential'">
        Web of Trust
      </span>
      <span ng-if="!$ctrl.credentialType==='br:test:WotCredential'">
        {{$ctrl.credential.name | uppercase}}
      </span>
    </div>
    <div class="br-credential-card-body">
      <div class="br-credential-card-body-col-1">
        <div class="br-credential-card-picture">
          <img ng-if="$ctrl.credentialType==='br:test:WotCredential'"
            src="/images/wot-card-logo.svg">
          <img ng-if="!$ctrl.credentialTypeType==='br:test:WotCredential'"
            ng-src="{{$ctrl.credential.image}}">
        </div>
      </div>
      <div class="br-credential-card-body-col-2">
        <div ng-if="$ctrl.credentialType == 'br:test:WotCredential'">
          <dl class="br-credential-card-attr">
            <dt>Full Name</dt>
            <dd>
              {{$ctrl.credential.claim.name}}
            </dd>
            <dt>Issued</dt>
            <dd>
              {{$ctrl.credential.issued | date:'MM/dd/yyyy'}}
            </dd>
          </dl>
        </div>
        <div ng-if="$ctrl.credentialType == 'urn:bedrock:test:CableSubscriptionCredential'">
          <dl class="br-credential-card-attr">
            <dt>Provider</dt>
            <dd>
              {{$ctrl.credential.claim['urn:bedrock:test:cableSubscription']['urn:bedrock:test:provider']}}
            </dd>
            <dt>Channel</dt>
            <dd>
              {{$ctrl.credential.claim['urn:bedrock:test:cableSubscription']['urn:bedrock:test:channel']}}
            </dd>
            <dt>Issued</dt>
            <dd>
              {{$ctrl.credential.issued | date:'MM/dd/yyyy'}}
            </dd>
          </dl>
        </div>
        <div ng-if="$ctrl.credentialType == 'urn:bedrock:test:LoyaltyCardCredential'">
          <dl class="br-credential-card-attr">
            <dt>Member Since</dt>
            <dd>{{$ctrl.credential.issued | date:'MM/dd/yyyy'}}</dd>
          </dl>
        </div>
        <div ng-if="$ctrl.credentialType == 'urn:bedrock:test:MessageBoardSubscription'">
          <dl class="br-credential-card-attr">
            <dt>Message Board ID</dt>
            <dd>
              {{$ctrl.credential.claim['urn:bedrock:test:messageBoardSubscription']['urn:bedrock:test:messageBoardId']}}
            </dd>
            <dt>Created</dt>
            <dd>
              {{$ctrl.credential.claim['urn:bedrock:test:messageBoardSubscription']['urn:bedrock:test:created']['@value'] | date}}
            </dd>
            <dt>Expires</dt>
            <dd>
              {{$ctrl.credential.claim['urn:bedrock:test:messageBoardSubscription']['urn:bedrock:test:expires']['@value'] | date}}
            </dd>
          </dl>
        </div>
        <div ng-if="$ctrl.credentialType == 'urn:bedrock:test:PassportCredential'">
          <div class="br-passport-row-1-col-1">
            <dl class="br-credential-card-attr">
              <dt>Name</dt>
              <dd>{{$ctrl.credential.claim.name | uppercase}}</dd>
              <dt>Gender</dt>
              <dd>
                {{$ctrl.credential.claim['schema:gender'] | uppercase}}
              </dd>
              <dt>Date of birth</dt>
              <dd>
                {{$ctrl.credential.claim['schema:birthDate']['@value'] | date:'MM/dd/yyyy'}}
              </dd>
              <dt>Nationality</dt>
              <dd>{{$ctrl.credential.claim['schema:nationality'].name | uppercase}}</dd>
            </dl>
          </div>
          <div class="br-passport-row-1-col-2">
            <dl class="br-credential-card-attr">
              <dt>Height</dt>
              <dd>{{$ctrl.credential.claim['schema:height']}}</dd>
              <dt>Eye Color</dt>
              <dd>
                {{$ctrl.credential.claim['urn:bedrock:test:eyeColor'] | uppercase}}
              </dd>
            </dl>
          </div>
          <div class="br-passport-row-1-col-3">
            <img ng-src="{{$ctrl.credential.claim.image}}">
          </div>
          <div class="br-passport-row-2">
            <dl class="br-credential-card-attr">
              <dt>Address</dt>
              <dd>
                <div>{{$ctrl.credential.claim.address.streetAddress | uppercase}}</div>
                <div>{{$ctrl.credential.claim.address.addressLocality | uppercase}},
                  {{$ctrl.credential.claim.address.addressRegion | uppercase}}
                  {{$ctrl.credential.claim.address.postalCode | uppercase}} {{$ctrl.credential.claim.address.addressCountry | uppercase}}</div>
              </dd>
            </dl>
          </div>
        </div>
        <div ng-if="$ctrl.credentialType == 'urn:bedrock:test:ProofOfResidenceCredential'">
          <dl class="br-credential-card-attr">
            <dt>Country:</dt>
            <dd>{{$ctrl.credential.claim.address.addressCountry}}</dd>
            <dt>Region:</dt>
            <dd>{{$ctrl.credential.claim.address.addressRegion}}</dd>
            <dt>Issued:</dt>
            <dd>{{$ctrl.credential.issued | date}}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
